<dialog id="categoryModal">
   <form method="dialog">
      <h5 id="categoryModalTitle">Manage Category</h5>
      <label for="categoryName">Name:</label>
      <input type="text" id="categoryName" name="name" required />

      <label for="categorySlug">Slug:</label>
      <input type="text" id="categorySlug" name="slug" required />

      <menu>
         <button
            value="cancel"
            class="secondary"
            onclick='closest("dialog").close()'
         >
            Cancel
         </button>
         <button id="categoryModalSave" type="submit" class="primary">
            Save
         </button>
      </menu>
   </form>
</dialog>
