<dialog id="deleteItemModal">
   <form method="dialog">
      <h5 id="deleteItemModalTitle">Delete Item</h5>
      <p>Are you sure you want to delete this item?</p>

      <menu>
         <button
            value="cancel"
            class="secondary"
            onclick='closest("dialog").close()'
         >
            Cancel
         </button>
         <button id="deleteItemConfirm" type="submit" class="danger">
            Delete
         </button>
      </menu>
   </form>
</dialog>
