<dialog id="deleteItemModal">
   <h5 id="deleteItemModalTitle">Delete Item</h5>
   <p>Are you sure you want to delete this item?</p>

   <menu>
      <button
         type="button"
         class="secondary"
         onclick="closeModal('deleteItemModal')"
      >
         Cancel
      </button>
      <button id="deleteItemConfirm" type="button" class="danger">
         Delete
      </button>
   </menu>
</dialog>
