<dialog id="itemModal">
   <form method="dialog">
      <h5 id="itemModalTitle">Manage Item</h5>

      <label for="itemName">Name:</label>
      <input type="text" id="itemName" name="name" required />

      <label for="itemPrice">Price:</label>
      <input type="number" step="0.01" id="itemPrice" name="price" required />

      <label for="itemStock">Stock:</label>
      <input type="number" id="itemStock" name="stock" required />

      <label for="itemCategory">Category:</label>
      <select
         id="itemCategory"
         name="category_id"
         onchange="getCategorySpecifications(this.value)"
         required
      >
         <% categories.forEach(category => { %>
         <option value="<%= category.id %>"><%= category.name %></option>
         <% }); %>
      </select>

      <label for="itemManufacturer">Manufacturer:</label>
      <select id="itemManufacturer" name="manufacturer_id" required>
         <% manufacturers.forEach(manufacturer => { %>
         <option value="<%= manufacturer.id %>">
            <%= manufacturer.name %>
         </option>
         <% }); %>
      </select>

      <div id="specificationsContainer"></div>

      <menu>
         <button
            value="cancel"
            class="secondary"
            onclick='closest("dialog").close()'
         >
            Cancel
         </button>
         <button id="itemModalSave" type="submit" class="primary">Save</button>
      </menu>
   </form>
</dialog>
